<div class="container text-center p-5">

<h2 class="text-light my-5">Login Utilisateur</h2>
<form class="form mx-auto" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label text-light">Email</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
        <label class="form-label text-light">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>

<button class="btn btn-primary mt-5" (click)="onClick()">Login With Google</button>

</div>
