img{
  width: 100%;
  height: auto;
}

h1
{
  color: #ffffff;
  font-weight: bold;
}

p{
  color: #ffffff;
}

a{
  background-color: #E50914;
  color: #ffffff;
  text-decoration: none;
}

a:hover{
  background-color: #E50914;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.like{
  background-color: #E50914;
  position: relative;
  padding-right: 2rem;
}

.like::after{
  content: '♥';
  color: #ffffff;
  position: absolute;
  right: 1rem;

}
